/* Global */
.intro {
    text-align: center;
    padding: 5px;
    color: #333;
}

p.intro {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 800px;
}

Link:-webkit-any-link, a:-webkit-any-link {
    color: inherit;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}